
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
    body {
      font-family: 'Roboto', sans-serif;
      background-color: black;
      color: white;
      text-align: center;
      text-transform: uppercase;
    }

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: darkred;
    }

    .header {
      border-bottom: 1px solid #000000;
    }

    .hamburger {
      display: none;
    }

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: darkred;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1.5rem;
    }

    .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav-item {
      margin-left: 2rem;
    }

    .nav-link {
      font-size: 1.6rem;
      font-weight: 400;
      color: #f0e009;
    }

    .nav-link:hover {
      color: #e9e9e9;
    }

    @media only screen and (max-width: 768px) {
      .nav-menu {
        position: relative;
        left: -100%;
        top: 2rem;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 100%;
        border-radius: 50px;
        text-align: center;
        transition: 0.3s;
      }

      .nav-menu.active {
        left: 0;
      }

      .nav-item {
        margin: 2.5rem 0;
      }

      .hamburger {
        display: block;
        cursor: pointer;
      }

      .hamburger.active .bar:nth-child(2) {
        opacity: 100%;
      }

      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }

    }

.container{
    width: 100%;
    height: 100vh;
    position: relative;
}
.container video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 86vh;
    object-fit: cover;
}
.h1{
    width: 100%;
    height: auto;
    position: absolute;
    display: fixed;
}
.text-box{
    position: absolute; 
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    color: rgb(255, 249, 249);
    text-align: center;
    text-transform: uppercase;
    line-height: 85vh;
    font-size: 20vh;
    font-weight: 900;
    mix-blend-mode: multiply;
}
.animate__animated.animate__flipInX{
    --animate-duration: 4s;
}


@media (max-width: 700px) {
    .navbar a {
      padding: 10px 30px;
      animation-play-state: paused;
    }
  }
  
@media only screen and (max-width: 700px) {
     .container{
         object-fit: cover;
     }

    .container video{
       object-fit: contain;
  
       object-position: center;
     }
    .text-box h1{
        font-weight: 300;
        font-size: 12vh;
     }
}
